@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

.showcase {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: -2;
}

.main {
    text-align: center;
    color: #f5f5dc;
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    padding: 40px;
    position: relative; /* added this line */
    z-index: 10; /* added this line */
}

.content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    width: 100%;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact li {
    display: inline-block;
    margin-right: 10px;
}

.contact img {
    width: 40px;
    height: auto;
}
.menu ul{
    text-decoration: none; 
            color: inherit; 
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 5px 10px;
}
.main {
position: relative;
z-index: 10;    
}
.main h2 {
font-size: 5em;
font-weight: lighter;
line-height: 1em;
text-transform: uppercase;
}
.main h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    }
    .main h3 {
        font-size: 4em;
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
        }
         .main p {
            font-size: 1.1em;
            margin: 20px 0;
            font-weight: 400;
         }
   
         a {
            text-decoration: none; 
            color: inherit; 
          }
          
          button {
            display: inline-block;
            margin-top: auto;
            padding: 10px 20px;
            background-color: #3498db;
            border-radius: 10px;
            width: 200px;
            padding: 15px 0;
            text-align: center;
            margin: 20px 10px;
            font-weight: bold;
            border: 2px solid #3498db;
            background: transparent;
            color: #fff;
            cursor: pointer;
            position: relative;
            overflow: hidden;
          }
          
        
          a:hover button {
            background-color: #3498db;
         
          }